
.s_third{
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    gap: 50px;
    height: 847px;
    margin: 0 auto;
}

.s_third_f{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    background-color: aliceblue;
    align-items: center;

}

.s_third_f :nth-child(2){
    color: #666666;
    font-size: 26px;
    width: 60%;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;

}

.s_third_f :nth-child(1){
    font-size: 55px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.s_third_s #s_image{
    width: 90%;
    border-radius: 50%;
    
}



#s_water{
    visibility: hidden;
    width: 14%;
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
}

.s_third_s{  
    height: 50%;
    display: table;
    margin: 0 auto;
    text-align: end;
    /* background-color: aquamarine; */
    
}

.s_button{
    width: 30%;
    height: 50px;
    border-radius: 25px;
    background-color: #054C73;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;

}

.svyaz_button{
    margin-top: 15px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    /* background: rgb(47,21,252); */
    font-family: 'Crimson Pro';
    background-color: #054C73;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.svyaz_button:hover, .s_button:hover{
    background-color: #b7adad;
    transition: transform 0.7s ease;
    transform: scale(1.1);
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 5s linear infinite;
}


.image-container {
    position: relative;
    width: 400px;
    height: 400px;
}


.s_works{
    width: 100%;
    /* background-color: #92bad0; */
}

.s_works_1 :nth-child(1){
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;

}

.s_works_1 :nth-child(2){
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}


.s_cards{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    width: 30%;
}

.card img{
    width: 100%;
}

.s_works_1 :nth-child(1){
    font-size: 42px;

}



@media(max-width: 800px){
    .s_third_f :nth-child(2){
        font-size: 3vw;
    }
    
    .s_third_f :nth-child(1){
        font-size: 35px;
        width: 100%;
        margin-bottom: 0;
    }

    .s_third{
        gap: 10px;
        height: 577px;

    }
    .s_third_f{
        width: 100%;
    }
    .s_third_f :nth-child(2){
        width: 100%;
        font-size: 15px;

    }

    .s_button{
        width: 90px;
        height: 40px;
        font-size: 10px;
        margin: 0 auto;
    }
    .s_cards{
        margin-top: 5%;
    }
    .card{
        width: 200px;
        margin: 0 auto;
        margin-top: 10%;
    }
    .svyaz_button{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    .s_third_s img{
        margin-bottom: 95%;
    }
}


figure {
    display: grid;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .75rem;
    background: var(--c,rgba(0, 0, 0, 0.592));
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#b12222 0 0),
      linear-gradient(#c60e0e 0 0);
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
    color: rgb(204, 176, 147);
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }

  figure img{
    width: 80%;
  }
