
.s_third{
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    height: 847px;
    background-color: rgb(229, 229, 229);
}

.s_third_f{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    vertical-align: middle;
    padding-top: 5%;
    text-align: center;
    position: relative;
}

li{
    color: #392e2e;
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 29px;
}

li::marker{
    content: "â–";
    color: #054C73;
}

.s_third_f :nth-child(1){
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #013551;
}

.s_third_f :nth-child(2){
    text-align: start;
}

.s_third_s #s_image{
    width: 400px;
    border-radius: 50%;
}



#s_water{
    visibility: hidden;
    width: 14%;
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
}

.s_third_s{  
    height: 40%;
    display: table;
    margin: 0 auto;
    text-align: end;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.s_button{
    width: 23%;
    height: 50px;
    border-radius: 25px;
    background-color: #054C73;
    color: aliceblue;
    bottom: 0;
    right: 50%;
    border: none;
    margin: 0 auto;
    margin-top: 40px;
}

.s_button:hover{
    background-color: #00114d;
    transition: transform 0.7s ease;
    transform: scale(1.1);

}


.svyaz_button{
    border-radius: 25px;
    width: 140px;
    height: 50px;
    /* background: rgb(47,21,252); */
    font-family: 'Crimson Pro';
    background-color: #054C73;
    color: aliceblue;
    border: none;

}

.svyaz_button:hover{
    background-color: #00114d;
    transition: transform 0.7s ease;
    transform: scale(1.1);
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 5s linear infinite;
}


.image-container {
    position: relative;
    width: 400px;
    height: 400px;
}


.s_works{
    width: 100%;
    /* background-color: #92bad0; */
}

.s_works_1 :nth-child(1){
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;

}

.s_works_1 :nth-child(2){
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}


.s_cards{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    width: 30%;
}

.card img{
    width: 100%;
}

.s_works_1 :nth-child(1){
    font-size: 42px;

}



@media(max-width: 800px){  
    .s_third_f :nth-child(1){
        font-size: 30px;
        line-height: 25px;
        width: 100%;
    }

    .s_third{
        gap: 10px;
        height: 577px;
    }
    .s_third_f{
        width: 100%;
        position: relative;
    }
    li{
        margin-top: 10px;
    }


    .s_button{
        margin-top: 50px;
        width: 80px;
        height: 40px;
        font-size: 10px;
        bottom: auto;
        border: none;
    }
    .s_cards{
        margin-top: 5%;
    }
    .card{
        width: 300px;
        margin: 0 auto;
        margin-top: 10%;
    }
    .svyaz_button{
        width: 100px;
        height: 40px;
    }

    .s_third_s img{
        width: 200px;
    }
    .s_third_s #s_image{
        width: 100%;
    }
    .s_third_s{
    }
    
}

/* @media(max-width:450px){
    li{
        width: 5px;
        font-size: 15px;
        line-height: 15px;
        margin-top: 10px;
    }


} */
/* @media(max-width:635px){
    li{
        width: 135px;
        font-size: 13x;
        line-height: 15px;
        margin-top: 10px;
    }
    .s_button{
        bottom: auto;
    }

} */


figure {
    display: grid;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .75rem;
    background: var(--c,rgba(57, 59, 65, 0.246));
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#b12222 0 0),
      linear-gradient(#c60e0e 0 0);
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
    color: #ffc916;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }

  figure img{
    width: 80%;
  }


